# Database URL
DATABASE_URL="file:./dev.db"

# Server Port & URLs
PORT=5001
API_URL="http://localhost:5001"
CLIENT_URL="http://localhost:3000"

# JWT Auth Secret
JWT_SECRET="super-secret-jwt-key-event-hub-2026"
JWT_REFRESH_SECRET="super-secret-refresh-jwt-key-2026"
JWT_EXPIRES_IN="1d"
JWT_REFRESH_EXPIRES_IN="7d"

# Stripe Test Credentials
STRIPE_SECRET_KEY="sk_test_mock_stripe_secret_key"
STRIPE_WEBHOOK_SECRET="whsec_mock_stripe_webhook_secret"
