# Dependencies
node_modules
.pnpm-store

# Environment variables
.env
.env.local
.env.production

# Builds
dist
.next
out
build

# Prisma
apps/api/prisma/dev.db
apps/api/prisma/dev.db-journal

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
